<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>    
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <!-- SAP company name (required). Example: MyCompany -->
    <add key="SAP.Company" value=""/>
    <!-- SAP user name (required). Example: manager -->
    <add key="SAP.User" value=""/>
    <!-- SAP password (required). Example: abc123 -->
    <add key="SAP.Password" value=""/>
    <!-- Database type (required). Supported: MSSQL, MSSQL2005, MSSQL2008, MSSQL2012 -->
    <add key="Database.Type" value=""/>
    <!-- Database host (required). Example: my-server -->
    <add key="Database.Host" value=""/>
    <!-- Database user. Example: sa -->
    <add key="Database.User" value=""/>
    <!-- Database password. Example: sa -->
    <add key="Database.Password" value=""/>
    <!-- Database name (required). Example: company-sap -->
    <add key="Database.Database" value=""/>
  </appSettings>
</configuration>
