<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>    
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <appSettings>
      
      <!-- ============================================================================== -->
      <!-- Scheduler -->
      <!-- ============================================================================== -->
      <!-- Scheduler interval in seconds (required). Example: 30 -->
      <add key="Scheduler.Interval" value="30"/>
      
      <!-- ============================================================================== -->
      <!-- SAP -->
      <!-- ============================================================================== -->
      <!-- SAP company name (required). Example: MyCompany -->
      <add key="SAP.Company" value=""/>
      <!-- SAP user name (required). Example: manager -->
      <add key="SAP.User" value=""/>
      <!-- SAP password (required). Example: abc123 -->
      <add key="SAP.Password" value=""/>
    
      <!-- ============================================================================== -->
      <!-- Database -->
      <!-- ============================================================================== -->
      <!-- Database type (required). Supported: MSSQL, MSSQL2005, MSSQL2008, MSSQL2012 -->
      <add key="Database.Type" value=""/>
      <!-- Database host (required). Example: my-server -->
      <add key="Database.Host" value=""/>
      <!-- Database user. Example: sa -->
      <add key="Database.User" value=""/>
      <!-- Database password. Example: sa -->
      <add key="Database.Password" value=""/>
      <!-- Database name (required). Example: company-sap -->
      <add key="Database.Database" value=""/>

      <!-- ============================================================================== -->
      <!-- Email -->
      <!-- ============================================================================== -->
      <!-- Send e-mails when error occurs (required). Value: true/false  -->
      <add key="Email.Enable" value="false"/>
      <!-- SMTP host. Example: mail.domain.com  -->
      <add key="Email.SMTP.Host" value=""/>
      <!-- SMTP port. Example: mail.domain.com  -->
      <add key="Email.SMTP.Port" value="587"/>
      <!-- If SMTP requires SSL. Value: true/false  -->
      <add key="Email.SMTP.SSL" value="false"/>
      <!-- User to authenticate. Value: account@domain.com  -->
      <add key="Email.SMTP.User" value=""/>
      <!-- User password. Value: abc123  -->
      <add key="Email.SMTP.Password" value=""/>
      <!-- E-mail address to send errors. Value: support@domain.com  -->
      <add key="Email.To" value=""/>  

    </appSettings>
</configuration>
